<a href="/">Back to Home</a>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{notes.title}}</h1>
        <h3>{{notes.content}}</h3>
        <p>{{notes.createdAt}}</p>
        <p><a href="/notes/{{notes._id}}/edit">Edit</a></p>
        <!-- Delete button -->
        <p><form method="POST" action="/notes/{{notes._id}}?_method=DELETE">
        <button type="submit">Delete</button>
        </form></p>
    </div>
</div>